{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Edit Product - TokoBerkah</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header bg-warning text-dark">
                    <h1 class="text-center">Edit Product</h1>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group text-center">
                            <button class="btn btn-warning edit-product-btn" type="submit">Edit Product</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
